
.menu-items{
    display: flex;
align-items: center;
    gap:30px;
    align-items: center;
    justify-content: center;
    color: black;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.menu-item:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
